.mac-book-pro-14-1 {
    display: flex;
    flex-direction: column;
    gap: 70px;
    width: 100%;
    height: 982px;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url("https://images.indianexpress.com/2025/08/Vande-Bharat-7.jpg?w=1200") lightgray 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.passenger-info {
    display: flex;
    width: 459px;
    padding: 20px 12px;
    flex-direction: column;
    align-items: center;
    gap: 70px;
    flex-shrink: 0;
}

.header {
    color: #black;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.8px;
}

.counter {
    color: #black;
    text-align: center;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.8px;
}

.action-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 87px;
}

.add-button {
    display: flex;
    padding: 12px 32px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 10px;
    background: #1E1E1E;    
}

.add-button-text {

    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.48px;
}

.save-button {
    display: flex;
    padding: 12px 32px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 10px;
    border: 1.5px solid #000;
}

.save-button-text {
    color: black;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.48px;
}

.previous-entry-container {
    display: flex;
    padding: 14px 18px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 10px;
    background: #6B7280;
}

.previous-entry-text {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.48px;
}
